<h1>CREATE A NEW SODA</h1>

<form action="/soda" method="post">
    <input type="text" name="name" placeholder="soda name">
    <input type="text" name="color" placeholder="soda color">
    <input type="checkbox" name="readyToSell">
    <input type="submit" value="MAKE NEW SODA">
</form>