<h1><%= soda.name %></h1>

<h2>COLOR: <%= soda.color %></h2>

<h3>READY TO SELL: <%= soda.readyToSell ? "YES" : "NO" %> </h3>

<form action="/soda/<%= soda._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<a href="/soda"><h4>BACK TO MAIN PAGE</h4></a>